includes:
    - ./vendor/nunomaduro/larastan/extension.neon
    - ./vendor/nesbot/carbon/extension.neon
parameters:
    level: 9
    paths:
        - app
    scanFiles:
#        - _ide_helper.php
#        - _ide_helper_models.php
#        - .phpstorm.meta.php
    ignoreErrors:
        - '#PHPDoc tag @mixin contains unknown class App\\Models#'
